<a href="/" class="flex-0 btn btn-ghost">
    <div class="text-primary text-3xl normal-case font-black italic">
        <span>Re</span><span class="text-base-content text-secondary">ACT</span>
    </div>
</a>