@page
@model ReACT.Areas.Admin.Pages.AddCompanyModel
@{
}

<div class="hero h-1/3 bg-white">
    <div class="hero-overlay bg-opacity-20"></div>
    <div class="hero-contenttext-black">
        <div class="max-w-prose">
            <h1 class="mb-5 text-6xl font-bold">Add Company</h1>
        </div>
    </div>
</div>


<div class="container mx-auto w-8/12 my-8">
    <div class="flex justify-center rounded-lg" style="background: #F3F3F3">
        <div class="w-8/12 m-8 p-5">
            <form method="post" data-turbo=false>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.Email" placeholder="Email" class="input w-full px-3 py-1.5" />
                <span asp-validation-for="ADModel.Email" class="text-danger"></span>
            </div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.FirstName" placeholder="Company Name" class="input w-full px-3 py-1.5" />
                <span asp-validation-for="ADModel.FirstName" class="text-danger"></span>
            </div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.Address" placeholder="Company Location" class="input w-full px-3 py-1.5" />
                <span asp-validation-for="ADModel.Address" class="text-danger"></span>
            </div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.ContactNo" placeholder="Company Contact" class="input w-full px-3 py-1.5" />
                <span asp-validation-for="ADModel.ContactNo" class="text-danger"></span>
            </div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.Password" placeholder="Password" class="input w-full px-3 py-1.5 " />
                <span asp-validation-for="ADModel.Password" class="text-danger"></span>
            </div>
            <div class=" text-black mb-4">
                <input type="text" asp-for="ADModel.ConfirmPassword" placeholder="Confirm Password" class="input w-full px-3 py-1.5" />
                <span asp-validation-for="ADModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="flow-root mx-6">
                <button type="submit" class="btn btn-primary mt-4 float-left" asp-page-handler="No_Add_Company">
                Back
                </button>
                <button type="submit" class="btn btn-primary mt-4 float-right" asp-page-handler="Add_Company">
                Confirm Add
                </button>
            </div>
            </form>
        </div>
    </div>
</div>