@page
@model ReACT.Areas.Admin.Pages.DeleteUserModel
@{
}

<div class="hero h-1/3 bg-stone-100">
    <div class="hero-overlay bg-opacity-20"></div>
    <div class="hero-contenttext-black">
        <div class="max-w-prose">
            <h1 class="mb-5 text-6xl font-bold">Delete User Account</h1>
        </div>
    </div>
</div>

<form method="post">
    <div class="container mx-auto w-9/12">
        <div class="flex justify-center">
            <div class="mt-8">
                <p class="mb-5 text-lg">Are you sure you want to delete User Account @Model.MyUser.Email?</p>
                <div class="flow-root">
                    <input type="hidden" asp-for="Id" />
                    <button class="btn text-white" asp-page-handler="No_Delete_User">Cancel</button>
                    <button class="btn hover:bg-orange-600 text-white" asp-page-handler="Delete_User">Confirm Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
