@page
@model ReACT.Areas.Admin.Pages.EditCollectionModel
@{
}

<div class="flex flex-col p-16">
    <h3 class="text-2xl font-semibold mb-10">Edit Collection</h3>
    <form class="flex-1 flex flex-col space-y-2" method="post">
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Collection Date</span>
            </label>
            <input asp-for="Date" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd" )" class="input input-bordered w-full max-w-xs" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date" class="text-error"></span>
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Assigned Company</span>
            </label>
            @Html.DropDownList("Company",
            Model.companies.Select(m => new SelectListItem
            {
            Value = m.Name,
            Text = m.Name
            }),
            new { @class = "select select-bordered w-full max-w-none" })
            <span asp-validation-for="Company" class="text-error"></span>
        </div>
        <div class="form-control w-full max-w-xs">
            <button class="btn btn-active btn-accent mt-3 text-white" type="submit">Submit</button>
        </div>
    </form>
</div>
