@page
@model ReACT.Areas.Admin.Pages.AllocationSettings

<div class="navbar bg-orange-400">
    <div class="navbar-start">
        <div class="dropdown">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <div class="form-control">
                        <input type="text" placeholder="Search Recycling Type" class="input" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-end">
        <label for="add-recycling-type-modal" class="btn">Add Recycling Type</label>
        <input type="checkbox" id="add-recycling-type-modal" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <label for="add-recycling-type-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                <h3 class="font-bold text-lg">Add Points Allocation</h3>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Recycling Type</span>
                        <input type="text" placeholder="Enter recycling type" class="input input-bordered" />
                    </label>
                    <label class="label">
                        <span class="label-text">Points/KG</span>
                        <input type="text" placeholder="Enter recyclable points per KG" class="input input-bordered" />
                    </label>
                </div>
                <div class="modal-action">
                    <label for="add-recycling-type-modal" class="btn text-white">Cancel</label>
                    <label for="add-recycling-type-modal" class="btn bg-green-600 hover:bg-orange-400 text-white">Add</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overflow-y-auto">
    <table class="table w-fit" style="margin: 1.25rem; width: 75%; justify-content: center;">
        <thead>
            <tr>
                <th>Recycling Type</th>
                <th>Points</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Self Recycled</td>
                <td>100</td>
                <td><label for="add-recycling-type-modal"><i class="ph-note-pencil"></i></label></td>
                <td>
                    <label for="delete-recycling-type-modal"><i class="ph-trash"></i></label>
                    <input type="checkbox" id="delete-recycling-type-modal" class="modal-toggle" />
                    <div class="modal">
                        <div class="modal-box">
                            <label for="delete-recycling-type-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                            <h3 class="font-bold text-lg">Remove recycling type</h3>
                            <p>Are you sure you wish to remove this recycling type?</p>
                            <div class="modal-action">
                                <label for="delete-recycling-type-modal" class="btn text-white">No</label>
                                <label for="delete-recycling-type-modal" class="btn bg-error text-white">Yes</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Collection</td>
                <td>50</td>
                <td><label for="add-recycling-type-modal"><i class="ph-note-pencil"></i></label></td>
                <td><label for="delete-recycling-type-modal"><i class="ph-trash"></i></label></td>
            </tr>
        </tbody>
    </table>
</div>