<div x-data="{name: '', icon: ''}" x-on:add-category.document="$refs.toggle.checked = true">
    <input x-ref="toggle" type="checkbox" id="add-category-modal-toggle" class="modal-toggle"/>
    <label for="add-category-modal-toggle" class="modal cursor-pointer">
        <label class="modal-box !p-10 !w-96" for="">
            <label for="add-category-modal-toggle" class="btn btn-sm btn-circle absolute right-2 top-2">
                <i class="ph-x"></i>
            </label>
            <h3 class="text-2xl font-semibold mb-6">Add a Category</h3>
            <turbo-frame id="add-category-modal-body">
                <form x-on:submit.prevent="$fetchok('/api/Reward/Category', 'POST', new FormData($el)).then(ok => {if (ok) { $dispatch('success'); $refs.toggle.checked = false }})">
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Name</span>
                        </label>
                        <input name="name" placeholder="Enter Category Name" class="input input-bordered w-full max-w-xs" required/>
                    </div>
                    <div class="h-2"></div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Icon</span>
                        </label>
                        <input name="icon" placeholder="Enter Icon Name" class="input input-bordered w-full max-w-xs" required/>
                    </div>
                    <div class="modal-action pt-5">
                        <button type="submit" class="btn gap-2 flex items-center">
                            Submit
                            <i class="text-lg ph-check-bold"></i>
                        </button>
                    </div>
                </form>
            </turbo-frame>
        </label>
    </label>
</div>

