<div x-data="{rewardId: null, rewardName: ''}" x-on:delete-reward.document="rewardId = $event.detail.rewardId; rewardName = $event.detail.rewardName; $refs.toggle.checked = true">
    <input type="checkbox" id="delete-reward-modal-toggle" class="modal-toggle" x-ref="toggle"/>
    <label for="delete-reward-modal-toggle" class="modal cursor-pointer">
        <label class="modal-box !p-10" for="">
            <label for="delete-reward-modal-toggle" class="btn btn-sm btn-circle absolute right-2 top-2">
                <i class="ph-x"></i>
            </label>
            <h3 class="text-2xl font-semibold mb-6">Delete Reward</h3>
            <p>You are about to delete the <span class="font-bold" x-text="rewardName"></span> reward</p>
            <p>All relevant reward codes will be deleted as well</p>
            <p>Are you sure?</p>
            <div class="modal-action">
                <div class="btn btn-error" x-on:click="$fetchok(`/api/Reward/${rewardId}`, 'DELETE').then(ok => {if (ok) { $dispatch('success'); $refs.toggle.checked = false }})">Delete</div>
            </div>
        </label>
    </label>
</div>

