<div x-data="{categoryId: null, categoryName: ''}" x-on:delete-category.document="categoryId = $event.detail.categoryId; categoryName = $event.detail.categoryName; $refs.toggle.checked = true">
    <input type="checkbox" id="delete-category-modal-toggle" class="modal-toggle" x-ref="toggle"/>
    <label for="delete-category-modal-toggle" class="modal cursor-pointer">
        <label class="modal-box !p-10" for="">
            <label for="delete-category-modal-toggle" class="btn btn-sm btn-circle absolute right-2 top-2">
                <i class="ph-x"></i>
            </label>
            <h3 class="text-2xl font-semibold mb-6">Delete Category</h3>
            <p>You are about to delete the <span class="font-bold" x-text="categoryName"></span> category</p>
            <p>Are you sure?</p>
            <div class="modal-action">
                <div class="btn btn-error" x-on:click="$fetchok(`/api/Reward/Category/${categoryId}`, 'DELETE').then(ok => {if (ok) { $dispatch('success'); $refs.toggle.checked = false }})">Delete</div>
            </div>
        </label>
    </label>
</div>

