@using ReACT.Models

@{
    Layout = "_SideNavbarLayout";
    ViewData["navbar_items"] = new List<NavbarLayoutItem>
    {
        new("Points & Rewards", "squares-four", "Dashboard"),
        new("Forum", "chats", "Forum"),
        new("Recycle", "recycle", "Recycle"),
        new("Forest", "tree-evergreen", "Forest")
    };
}

<div class="flex absolute top-0 right-0 p-5 gap-5">
    <a class="btn btn-sm btn-primary rounded-full gap-1.5">
        <i class="ph-gift-bold"></i>
        Redeem
    </a>
    <div class="flex h-8 px-3 rounded-full border-2 items-center gap-1.5 min-w-[8rem]">
        <i class="ph-moon"></i>
        <p class="flex-1">1000</p>
        <i class="ph-plus-circle text-sm"></i>
    </div>
</div>