@page
@model ReACT.Areas.User.Pages.ThreadModel

<!-- Back arrow -->
<div class="flex absolute top-0">
    <a asp-page="/Forum">
        <i class="ph-arrow-left text-4xl text-primary p-2"></i>
    </a>
</div>

<!-- Thread Content -->
<div class="grid grid-cols-12 gap-4 my-12">
    <div class="bg-emerald-100 text-primary rounded-lg col-start-2 col-span-10 grid grid-cols-12 my-12">
        <div class="col-span-10 ml-4 mt-5 mb-8">
            <h5 class="text-2xl">@Model.MyThread.Title</h5>
        </div>

        <div class="col-span-10 ml-4 mb-12">
            <p class="text-lg">@Model.MyThread.Content</p>
        </div>

        <div class="">
            @if (Model.MyThread.ImageURL != "")
            {
                <img class="" src="@Model.MyThread.ImageURL" loading="lazy" />
            }
        </div>

        <div class="col-span-10 ml-4 mb-3">
            <p class="text-sm">@Model.GetPostTime(Model.MyThread.Date)</p>
        </div>
    </div>

    <!-- Messages Label -->
    <div class="col-start-2 col-span-2">
        <p class="text-xl">Messages</p>
    </div>

    <div class="col-start-2 col-span-10 bg-emerald-100 text-primary rounded-lg">
        <p>lorem ipsum</p>
    </div>
</div>