@page
@model ReACT.Areas.User.Pages.scoreboardRankModel
@{
}

<div class="hero h-1/3" style="background-image: url('/images/scoreboardBG.png');">
    <div class="hero-overlay bg-opacity-20">
    </div>
    <div class="hero-content text-black">
        <div class="max-w-prose">
            <h1 class="mb-5 text-6xl font-bold">Scoreboard</h1>
        </div>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
                <th class="sticky top-0">Rank</th>
                <th class="sticky top-0">Name</th>
                <th class="sticky top-0">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>1000</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>1000</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>1000</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="sticky bottom-0">User Rank</th>
                <th class="sticky bottom-0">User Name</th>
                <th class="sticky bottom-0">User Points</th>
            </tr>
        </tfoot>
    </table>
</div>